* {
    margin: 0px;
    padding: 0px;
}

p {
    background-color: bisque;
    width: 200px;
    padding: 25px;
    border: 25px solid black;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}

